<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Transaction</title>
    </head>
    <body>
        <%- include("partials/assistantComponent.ejs") %>
        <main class="m-2">
            <section>
                <h1>Transfer money</h1>
                <section class="d-flex justify-content-center">
                    <!-- I have no idea, but it has to be h2 & button to get the desired text centering. Probably something to do with display-inline. -->
                    <h2><button class="border border-2 rounded-circle p-2 no-pointer highlighted-step ignore-sizing">1</button></h2>
                    <span>...</span>
                    <h2><button class="border border-2 rounded-circle p-2 important-button no-pointer highlighted-step ignore-sizing">2</button></h2>
                    <span>...</span>
                    <h2><button class="border border-2 rounded-circle p-2 no-pointer highlighted-step ignore-sizing">3</button></h2>
                </section>
                <h2>Who do you want to transfer the money to?</h2>
                <%- include("partials/contactCardComponent.ejs") %> <%- include("partials/contactCardComponent.ejs") %> <%-
                include("partials/contactCardComponent.ejs") %>
            </section>
        </main>

        <%- include("partials/accessibilityComponent.ejs") %>
    </body>
</html>
